Personnel.Application.ViewModels/Service References/HistoryService/Personnel.Services.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="HistoryResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseExecutionResultOfHistory3XPrIsxh">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoryResult" nillable="true" type="tns:HistoryResult" />
  <xs:complexType name="BaseExecutionResultOfHistory3XPrIsxh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseExecutionResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="History" Namespace="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:History" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseExecutionResultOfHistory3XPrIsxh" nillable="true" type="tns:BaseExecutionResultOfHistory3XPrIsxh" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="History">
    <xs:sequence>
      <xs:element minOccurs="0" name="Add" nillable="true" type="tns:HistoryUpdateInfo" />
      <xs:element minOccurs="0" name="Change" nillable="true" type="tns:HistoryUpdateInfo" />
      <xs:element name="EventId" type="xs:long" />
      <xs:element minOccurs="0" name="Remove" nillable="true" type="tns:HistoryRemoveInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="History" nillable="true" type="tns:History" />
  <xs:complexType name="HistoryUpdateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:ArrayOfDepartment" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:ArrayOfEmployee" />
      <xs:element minOccurs="0" name="EmployeeLogin" nillable="true" type="tns:ArrayOfEmployeeLogin" />
      <xs:element minOccurs="0" name="EmployeePhoto" nillable="true" type="tns:ArrayOfEmployeePhoto" />
      <xs:element minOccurs="0" name="EmployeeRight" nillable="true" type="tns:ArrayOfEmployeeRight" />
      <xs:element minOccurs="0" name="File" nillable="true" type="tns:ArrayOfFile" />
      <xs:element minOccurs="0" name="Stuffing" nillable="true" type="tns:ArrayOfStaffing" />
      <xs:element minOccurs="0" name="Vacation" nillable="true" type="tns:ArrayOfVacation" />
      <xs:element minOccurs="0" name="VacationAgreement" nillable="true" type="tns:ArrayOfVacationAgreement" />
      <xs:element minOccurs="0" name="VacationBalance" nillable="true" type="tns:ArrayOfVacationBalance" />
      <xs:element minOccurs="0" name="VacationLevel" nillable="true" type="tns:ArrayOfVacationLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryUpdateInfo" nillable="true" type="tns:HistoryUpdateInfo" />
  <xs:complexType name="ArrayOfDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartment" nillable="true" type="tns:ArrayOfDepartment" />
  <xs:complexType name="Department">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="BaseModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Logins" nillable="true" type="tns:ArrayOfEmployeeLogin" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Photos" nillable="true" type="tns:ArrayOfEmployeePhoto" />
          <xs:element minOccurs="0" name="Rights" nillable="true" type="tns:ArrayOfEmployeeRight" />
          <xs:element minOccurs="0" name="Stuffing" nillable="true" type="tns:Staffing" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfEmployeeLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeLogin" nillable="true" type="tns:EmployeeLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeLogin" nillable="true" type="tns:ArrayOfEmployeeLogin" />
  <xs:complexType name="EmployeeLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeLogin" nillable="true" type="tns:EmployeeLogin" />
  <xs:complexType name="ArrayOfEmployeePhoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeePhoto" nillable="true" type="tns:EmployeePhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeePhoto" nillable="true" type="tns:ArrayOfEmployeePhoto" />
  <xs:complexType name="EmployeePhoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" type="xs:long" />
      <xs:element minOccurs="0" name="FileId" type="ser:guid" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="tns:Picture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeePhoto" nillable="true" type="tns:EmployeePhoto" />
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File" nillable="true" type="tns:File" />
      <xs:element minOccurs="0" name="FileId" type="ser:guid" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="PictureType" type="tns:PictureType" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Encoding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviewSmall" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
  <xs:simpleType name="PictureType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Avatar32" />
      <xs:enumeration value="Avatar64" />
      <xs:enumeration value="Avatar128" />
      <xs:enumeration value="Avatar256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PictureType" nillable="true" type="tns:PictureType" />
  <xs:complexType name="ArrayOfEmployeeRight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeRight" nillable="true" type="tns:EmployeeRight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeRight" nillable="true" type="tns:ArrayOfEmployeeRight" />
  <xs:complexType name="EmployeeRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="RightId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeRight" nillable="true" type="tns:EmployeeRight" />
  <xs:complexType name="Staffing">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Position" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Staffing" nillable="true" type="tns:Staffing" />
  <xs:complexType name="ArrayOfFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFile" nillable="true" type="tns:ArrayOfFile" />
  <xs:complexType name="ArrayOfStaffing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Staffing" nillable="true" type="tns:Staffing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaffing" nillable="true" type="tns:ArrayOfStaffing" />
  <xs:complexType name="ArrayOfVacation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vacation" nillable="true" type="tns:Vacation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVacation" nillable="true" type="tns:ArrayOfVacation" />
  <xs:complexType name="Vacation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agreements" nillable="true" type="tns:ArrayOfVacationAgreement" />
      <xs:element minOccurs="0" name="Begin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DayCount" type="xs:long" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="NotUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="VacationLevelId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vacation" nillable="true" type="tns:Vacation" />
  <xs:complexType name="ArrayOfVacationAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VacationAgreement" nillable="true" type="tns:VacationAgreement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVacationAgreement" nillable="true" type="tns:ArrayOfVacationAgreement" />
  <xs:complexType name="VacationAgreement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="VacationId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VacationAgreement" nillable="true" type="tns:VacationAgreement" />
  <xs:complexType name="ArrayOfVacationBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VacationBalance" nillable="true" type="tns:VacationBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVacationBalance" nillable="true" type="tns:ArrayOfVacationBalance" />
  <xs:complexType name="VacationBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayCountAdditional" type="xs:long" />
      <xs:element minOccurs="0" name="DayCountMain" type="xs:long" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VacationBalance" nillable="true" type="tns:VacationBalance" />
  <xs:complexType name="ArrayOfVacationLevel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VacationLevel" nillable="true" type="tns:VacationLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVacationLevel" nillable="true" type="tns:ArrayOfVacationLevel" />
  <xs:complexType name="VacationLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VacationLevel" nillable="true" type="tns:VacationLevel" />
  <xs:complexType name="HistoryRemoveInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Departments" nillable="true" type="q1:ArrayOflong" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EmployeeLogins" nillable="true" type="q2:ArrayOflong" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EmployeePhotos" nillable="true" type="q3:ArrayOfguid" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EmployeeRights" nillable="true" type="q4:ArrayOflong" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Employees" nillable="true" type="q5:ArrayOflong" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="File" nillable="true" type="q6:ArrayOflong" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stuffing" nillable="true" type="q7:ArrayOflong" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Vacation" nillable="true" type="q8:ArrayOflong" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VacationAgreement" nillable="true" type="q9:ArrayOflong" />
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VacationBalance" nillable="true" type="q10:ArrayOflong" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VacationLevel" nillable="true" type="q11:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryRemoveInfo" nillable="true" type="tns:HistoryRemoveInfo" />
</xs:schema>