Personnel.Application.ViewModels/Service References/StorageService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" />
  <xs:element name="ChangeLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="identifier" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="GetResult" nillable="true" type="q2:FileResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="identifier" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="GetPictureResult" nillable="true" type="q4:PictureResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="identifier" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q6:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="GetRangeResult" nillable="true" type="q7:FileResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/Message" name="GetSourceByNameResult" type="q8:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="identifier" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/Message" name="GetSourceResult" type="q10:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Put">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/Message" name="content" type="q11:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="PutResult" nillable="true" type="q12:FileResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="item" nillable="true" type="q13:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="UpdateResult" nillable="true" type="q14:FileResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileToPictures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="identifier" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileToPicturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="FileToPicturesResult" nillable="true" type="q16:PictureResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="item" nillable="true" type="q17:Picture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="UpdatePictureResult" nillable="true" type="q18:PictureResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="RESTGetResult" nillable="true" type="q19:FileResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="RESTGetPictureResult" nillable="true" type="q20:PictureResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="RESTGetRangeResult" nillable="true" type="q22:FileResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileIdOrName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTGetSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/Message" name="RESTGetSourceResult" type="q23:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTPut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/Message" name="content" type="q24:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTPutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="RESTPutResult" nillable="true" type="q25:FileResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="item" nillable="true" type="q26:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="RESTUpdateResult" nillable="true" type="q27:FileResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTFileToPictures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTFileToPicturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="RESTFileToPicturesResult" nillable="true" type="q28:PictureResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTUpdatePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="item" nillable="true" type="q29:Picture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTUpdatePictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Personnel.Services.Service.File" minOccurs="0" name="RESTUpdatePictureResult" nillable="true" type="q30:PictureResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>