Personnel.Services.Tests/Service References/StaffingService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ChangeLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingsGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="StaffingsGetResult" nillable="true" type="q1:StaffingResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingGetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q2:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingGetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="StaffingGetRangeResult" nillable="true" type="q3:StaffingResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffingId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="StaffingGetResult" nillable="true" type="q4:StaffingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffingId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="StaffingRemoveResult" nillable="true" type="q5:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="staffingIds" nillable="true" type="q6:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="StaffingRemoveRangeResult" nillable="true" type="q7:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="stuffing" nillable="true" type="q8:Staffing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="StaffingUpdateResult" nillable="true" type="q9:StaffingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="stuffing" nillable="true" type="q10:Staffing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StaffingInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="StaffingInsertResult" nillable="true" type="q11:StaffingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="DepartmentsGetResult" nillable="true" type="q12:DepartmentResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentGetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q13:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentGetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="DepartmentGetRangeResult" nillable="true" type="q14:DepartmentResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="DepartmentGetResult" nillable="true" type="q15:DepartmentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="DepartmentRemoveResult" nillable="true" type="q16:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="departmentIds" nillable="true" type="q17:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="DepartmentRemoveRangeResult" nillable="true" type="q18:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="department" nillable="true" type="q19:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="DepartmentUpdateResult" nillable="true" type="q20:DepartmentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="department" nillable="true" type="q21:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="DepartmentInsertResult" nillable="true" type="q22:DepartmentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointsGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="AppointsGetResult" nillable="true" type="q23:AppointResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointGetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q24:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointGetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="AppointGetRangeResult" nillable="true" type="q25:AppointResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="AppointGetResult" nillable="true" type="q26:AppointResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="AppointRemoveResult" nillable="true" type="q27:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q28:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="AppointRemoveRangeResult" nillable="true" type="q29:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="appoint" nillable="true" type="q30:Appoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="AppointUpdateResult" nillable="true" type="q31:AppointResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="appoint" nillable="true" type="q32:Appoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="AppointInsertResult" nillable="true" type="q33:AppointResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetCurrent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetCurrentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeGetCurrentResult" nillable="true" type="q34:EmployeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q35:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeGetRangeResult" nillable="true" type="q36:EmployeeResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeesGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeesGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeesGetResult" nillable="true" type="q37:EmployeeResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeGetResult" nillable="true" type="q38:EmployeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeRemoveResult" nillable="true" type="q39:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="employeeIds" nillable="true" type="q40:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeRemoveRangeResult" nillable="true" type="q41:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="employee" nillable="true" type="q42:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeUpdateResult" nillable="true" type="q43:EmployeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="employee" nillable="true" type="q44:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeInsertResult" nillable="true" type="q45:EmployeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RightsGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RightsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RightsGetResult" nillable="true" type="q46:RightResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeRightsGetResult" nillable="true" type="q47:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:long" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rightIds" nillable="true" type="q48:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeRightsAddResult" nillable="true" type="q49:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsAddByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:long" />
        <xs:element minOccurs="0" name="rightName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsAddByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeRightsAddByNameResult" nillable="true" type="q50:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:long" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rightIds" nillable="true" type="q51:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeRightsRemoveResult" nillable="true" type="q52:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsRemoveByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:long" />
        <xs:element minOccurs="0" name="rightName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsRemoveByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeRightsRemoveByNameResult" nillable="true" type="q53:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:long" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rightIds" nillable="true" type="q54:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRightsUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="EmployeeRightsUpdateResult" nillable="true" type="q55:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingsGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTStaffingsGetResult" nillable="true" type="q56:StaffingResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingGetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q57:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingGetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTStaffingGetRangeResult" nillable="true" type="q58:StaffingResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTStaffingGetResult" nillable="true" type="q59:StaffingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTStaffingRemoveResult" nillable="true" type="q60:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="staffingIds" nillable="true" type="q61:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTStaffingRemoveRangeResult" nillable="true" type="q62:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="stuffing" nillable="true" type="q63:Staffing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTStaffingUpdateResult" nillable="true" type="q64:StaffingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="stuffing" nillable="true" type="q65:Staffing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTStaffingInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTStaffingInsertResult" nillable="true" type="q66:StaffingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentsGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTDepartmentsGetResult" nillable="true" type="q67:DepartmentResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentGetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q68:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentGetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTDepartmentGetRangeResult" nillable="true" type="q69:DepartmentResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTDepartmentGetResult" nillable="true" type="q70:DepartmentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTDepartmentRemoveResult" nillable="true" type="q71:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="departmentIds" nillable="true" type="q72:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTDepartmentRemoveRangeResult" nillable="true" type="q73:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="department" nillable="true" type="q74:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTDepartmentUpdateResult" nillable="true" type="q75:DepartmentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="department" nillable="true" type="q76:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTDepartmentInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTDepartmentInsertResult" nillable="true" type="q77:DepartmentResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointsGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTAppointsGetResult" nillable="true" type="q78:AppointResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointGetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q79:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointGetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTAppointGetRangeResult" nillable="true" type="q80:AppointResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTAppointGetResult" nillable="true" type="q81:AppointResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTAppointRemoveResult" nillable="true" type="q82:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q83:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTAppointRemoveRangeResult" nillable="true" type="q84:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="appoint" nillable="true" type="q85:Appoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTAppointUpdateResult" nillable="true" type="q86:AppointResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="appoint" nillable="true" type="q87:Appoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTAppointInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTAppointInsertResult" nillable="true" type="q88:AppointResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeGetCurrent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeGetCurrentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeGetCurrentResult" nillable="true" type="q89:EmployeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeGetRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="identifiers" nillable="true" type="q90:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeGetRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeGetRangeResult" nillable="true" type="q91:EmployeeResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeesGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeesGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeesGetResult" nillable="true" type="q92:EmployeeResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeGetResult" nillable="true" type="q93:EmployeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeRemoveResult" nillable="true" type="q94:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRemoveRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="employeeIds" nillable="true" type="q95:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRemoveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeRemoveRangeResult" nillable="true" type="q96:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="employee" nillable="true" type="q97:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeUpdateResult" nillable="true" type="q98:EmployeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="employee" nillable="true" type="q99:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeInsertResult" nillable="true" type="q100:EmployeeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTRightsGet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTRightsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTRightsGetResult" nillable="true" type="q101:RightResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeRightsGetResult" nillable="true" type="q102:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rightIds" nillable="true" type="q103:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeRightsAddResult" nillable="true" type="q104:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsAddByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rightName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsAddByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeRightsAddByNameResult" nillable="true" type="q105:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rightIds" nillable="true" type="q106:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeRightsRemoveResult" nillable="true" type="q107:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsRemoveByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rightName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsRemoveByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeRightsRemoveByNameResult" nillable="true" type="q108:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rightIds" nillable="true" type="q109:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RESTEmployeeRightsUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Personnel.Services.Model" minOccurs="0" name="RESTEmployeeRightsUpdateResult" nillable="true" type="q110:RightValueResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>